body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

div{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border: 0.8px solid;
    border-color: black;
    border-radius: 15px;
    
  
}

input{
    padding: 15px;
    border: 0.7px solid;
    font-size: 15px;


}
button{
    background-color: dodgerblue;
    border:none;
    padding: 15px;
    border-radius: 10px;
    color:white;
    font-size: 15px;
}
button:hover{
    background-color:deepskyblue ;
    cursor: pointer;
}